ul li{
    list-style-type: none;
}

footer {
    font-family: 'Inter';
    height: 100%;
    background-color: #000;
    color: #fff;
}

.footer__container {
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.footer__column p{
    padding: 10px 5px;
}

.footer__title {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.footer__text {
    font-weight: 200;
    font-size: 14px;
}

.footer__subscribe {
    padding: 20px 0px;
    display: flex;
    gap: 10px;
}

.footer__subscribe input {
    height: 40px;
    width: 280px;
    padding: 10px;
}

.footer__subscribe button{
    height: 40px;
    width: 140px;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: transparent;
}

.footer__bottom{
    display: flex;
    gap: 207px;
    padding: 20px 0px;
}

.footer__currency{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__currency-select {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0px 8px;
}

.currency-logo{
    height: 20px;
}

.currency-name {
    font-size: 14px;
    font-weight: 600;
}

.footer__text-email{
    font-size: 15px;
    font-weight: 200;
}

.footer__top{
    border-bottom: 1px solid #fff;
}
.footer__list{
    font-size: 14px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 5px;
}

.footer__social p{
    padding-bottom: 20px;
}

.footer__icons {
    display: flex;
    gap: 10px;
    padding: 0px 5px;
}


.footer__payments{
    padding: 40px 0px;
}

.footer__payment p {
    padding: 20px 0;
}
.footer__payment-icons {
    padding: 0px 5px;
}

.copyrights--text{
    font-size: 13px;
    font-weight: 200;
    text-align: center;
    padding: 10px 0px;
}